<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ABOUT US</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{../css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
<body>
   <div id="searchItem" class="searchItem">
				<a @click="searchclick" name="button"> <img id="search" src="../img/search.png" alt="search"></a>
 				<div :class="[dropdown,toggle]">
 				<ul>
 				<form action="/item/searchItem?" method="get">
					<select name="categorySearchBar">
						<option value="Outer" selected>Outer</option>
						<option value="Skirt">Skirt</option>
						<option value="Pants">Pants</option>
						<option value="Blouse">Blouse</option>
						<option value="Shirts">Shirts</option>
						<option value="Accessory">Accessory</option>
						<option value="Shoes">Shoes</option>
						<option value="Bag">Bag</option>
					</select>
					<input class="searchform" type="text" name="keyword" id="keyword">
					<button type="submit">검색</button>
				</form>
  				</ul>
  				</div>
	</div>
	<div class="header">
		<img id="logo" src="../img/백구시보.png" alt="logo"> <input
			type="checkbox" id="chk">
		<div class="menu">
			<a id="products">PRODUCTS</a> <a id="aboutus">ABOUT US</a> <a
				class="icon" href="/orderItem/viewCartMemNum">
		<a th:if="${session.user}">
				<a class="icon" th:href="@{/member/mainMember}"><img id="user" src="../img/user.png" alt="user"></a>
			</a>
			<a th:if="${session.user}!=null or ${session.admin}!=null">
				<a id="log" th:href="@{/member/logoutMember}">LogOut</a>
			</a>
			<a th:if="${session.user}==null and ${session.admin}==null">
				<a th:href="@{/member/loginMember}">LogIn</a>
				<a th:href="@{/member/joinMember}">Join Us</a>
			</a>
			<a th:unless="${session.admin}">
				<a class="icon" href="/orderItem/viewCartMemNum"><img id="cart" src="../img/cart.png" alt="cart"></a>
            </a>

		</div>
	</div>

</div>
    <div class="page">
       <a id="aboutUs">ABOUT US</a> > Contact
    </div>

    <div class="pagecontent">
        <p>COME ON!</p>
        <div><img id="location" src="../img/location.jpg" alt="location"></div>
        <div class="locationaddress">
            <p><img id="address" src="../img/address.png" alt="address">서울시 서초구 강남대로 459 402호 백구시보</p>
        </div>       
    </div>

    <div class="footer">
        <div class="footer1">ABOUT US</div>
        <div class="footer2">It's the trend that is not in the world</div>
        <div class="footer3">
            <p>서울시 서초구 강남대로 459 402호 백구시보</p>
            <p>010-1234-1234</p>
            <p>195@google.com</p>
        </div>
    </div>
    <script>
    let app = new Vue({
    	  el : '#searchItem',
    	  data(){
   	     return{
          dropdown:'dropdown',
          toggle:{
            on : false
          }
        };
      },
      methods :{
    	  searchclick(){
            this.toggle.on =! this.toggle.on;
        }
      }
    });
      
        document.getElementById("logo").addEventListener('click', function () {
            location.href = "/";
        });
        document.getElementById("aboutUs").addEventListener('click', function(){
            location.href = "aboutus";
        });
        document.getElementById("aboutus").addEventListener('click', function(){
            location.href = "aboutus";
        });
        document.getElementById("products").addEventListener('click', function () {
            location.href="/item/search" 
        });
    </script>
</body>
</html>